<div class="navbar navbar--pink" data-controller="navbar">
  <div class="icon">
    <%= link_to "Camera24", root_path %>
  </div>
  <div>
      <a href="#" class="session">Sign in</a>
    <%= link_to "+ CREATE", new_camera_path, class: "button--color", id: "create__button" %>
  </div>
</div>
