<%# let's follow this CSS convention
when naming classes and .... https://www.freecodecamp.org/news/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849/ %>

<div class="navbar navbar--pink">
  <div class="icon">
    <h1>Camera24</h1>
  </div>
  <div>
    <%= link_to "+ CREATE", new_camera_path, class: "button--color", id: "create__button" %>
  </div>
</div>

<main>
  <div class="cameras__list">
      <% if !@cameras.nil? %>
        <% @cameras.each do |camera| %>
          <%= camera.name %>
          <%= camera.price %>
          <%= camera.location %>
        <% end %>
      <% end %>
  </div>
</main>

<%# Hey please work form here %>
<div class="footer">
</div>

<div class="footer">
</div>
