<%# let's follow this CSS convention
when naming classes and .... https://www.freecodecamp.org/news/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849/ %>

<main>
  <div class="container">
    <h1>This is main body</h1>
  </div>
  <div class="cameras__list">
      <% if !@cameras.nil? %>
        <% @cameras.each do |camera| %>
          <%= camera.name %>
          <%= camera.price %>
          <%= camera.location %>
        <% end %>
      <% end %>
  </div>
</main>
</div>
