<main>
  <div class="cameras__list">
    <% @cameras.each do |camera| %>
      <div class="cameras__card">
      <% if camera.photo.attached? %>
        <%= cl_image_tag camera.photo.key, width: 250, height: 150 %>
      <% end %>
        <div class="cameras__texts">
          <%= link_to camera.name, camera_path(camera.id), class: "card__link" %><br>
          Price per day: $<%= camera.price %>
        </div>
      </div>
    <% end %>
  </div>
</main>
</div>
