<div class="container">
  <div class="navbar-fix">
    <h1><%= @camera.name %></h1>
  </div>
  <div>
    <p>Location: <%= @camera.location %></p>
    <p>Price per day: $<%= @camera.price %></p>
  </div>

  <% if user_signed_in? %>
    <p><%= link_to "Borrow #{@camera.name}",  new_camera_offer_path(@camera.id) %></p>
  <% end %>
</div>
