<div class="container">
  <div class="navbar-fix">
    <h1>Booking <%= @offer.id %></h1>
  </div>

  <p>Accept or decline this booking:</p>
  <%= link_to "Edit this booking", edit_offer_path(@offer.id) %>
</div>
