.cameras__list {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
}

.cameras__card{
  width: 280px;
  height: 250px;
  border-radius: 10px;
  margin: auto;
  position: relative;
  margin: 0 auto;
  border: none;
  box-shadow: 0px 5px 10px 0px rgba(165, 165, 165, 0.5);
  margin-left: auto;
}

.cameras__card p{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.cameras__card img{
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  background-position: center;
  object-fit: cover;
}

.card__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

.cameras__list a{
  text-decoration: none;
  color: black;
}

.cameras__texts{
  display: block;
  right: 0;
  padding: 20px 10px 10px 10px;
  color: #a5a5a5;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .cameras__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .cameras__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .cameras__list {
    grid-template-columns: 1fr;
  }
}
