.footer{
  background-color: white;
  border-top: solid 0.5px #DDDDDD;
  margin-bottom: 0px;
  padding-left: 20px;
  width: 100%;
  position: fixed;
  z-index: 10000;
  left: 0;
  bottom: 0;
}

.footer p{
  padding-top: 7px;
  color: #a5a5a5;
  position: relative;
}

.User__info{
  position: absolute;
  color: $airbnb-color;
  right: 20px;
  top: 10px;
}
