.footer{
  background-color: white;
  box-shadow: -5px -5px 10px 0px rgba(230, 230, 230, 0.5);
  margin-bottom: 0px;
  padding-left: 20px;
  width: 100%;
  position: fixed;
  z-index: 10000;
  left: 0;
  bottom: 0;
  // vertical-align: top;
  // line-height: 1.0em;
}

.footer p{
  padding-top: 7px;
  color: #a5a5a5;
  position: relative;
}

.User__info{
  position: absolute;
  color: $airbnb-color;
  right: 20px;
  top: 10px;
}
