.navbar{
  background-color: white;
  padding: 20px 70px;
  border-bottom: solid 0.5px #DDDDDD;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

.navbar--pink a{
  color: $airbnb-color;
  font-size:x-large;
  text-decoration: none;
}

a#create__button{
  font-size: medium;
  text-decoration: none;
  background-color: transparent;
  padding: 3px 8px;
  border-radius: 20px;
  border: solid 1px $airbnb-color;
  cursor: pointer;
  &:hover{
    box-shadow: 0px 5px 10px 0px rgba(165, 165, 165, 0.5);
    transition: 0.3s;
  }
}

a.button--color{
  color: $airbnb-color;
}

a.session{
  font-size: medium;
  margin-right: 15px;
}

.navbar__right{
  display: flex;
  align-items: center;
}

// dropdown

.drop__button{
  color: rgb(100, 100, 100);
  background-color: transparent;
  font-size: 10px;
  border: none;
  padding: 11px;
  border-left: solid 2px rgb(100, 100, 100);
  border-right: solid 2px rgb(100, 100, 100);
  background-image: linear-gradient(rgb(100, 100, 100), rgb(100, 100, 100));
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}

.dropdown{
  position: relative;
  display: inline-block;
  margin-bottom: 7px;
  margin-left: 25px;
}

.dropdown__content{
  position: absolute;
  right: 0;
  top: -300px;
  background-color: white;
  min-width: 260px;
  box-shadow: 0px 5px 10px 0px rgba(165, 165, 165, 0.5);
  border-radius: 5px;
  z-index: 1;
}

.dropdown__content a{
  color: black;
  font-size: small;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown__content a:hover{
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown:hover .dropdown__content{
  top: 31px;
}
